@charset 'UTF-8';

@media screen and (min-width: 601px) {
  div#wrapper {
    width: 520px;
  }
  div.container{
    max-width: 520px;
  }
  ul#topnav li a{
    width: 110px;
    padding: 2px 5px;
  }
  * {
    font-size: 16px;
  }
  ul#topnav li a{
    font-size: 16px;
  }
  ul#topnav li.head a,
  ul#topnav li.head a:hover{
    font-size: 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 25px;
  }
  h4, h5, h6 {
    font-size: 16px;
  }
  a.btn,
  a.btn:focus {
    font-size: 15px;
  }
  dt {
    font-size: 16px;
  }
  dd {
    font-size: 15px;
  }
}
@media screen and (min-width: 1000px) {
  div#wrapper {
    width: 900px;
  }
  div.container{
    max-width: 900px;
  }
  ul#topnav li a{
    width: 180px;
    padding: 5px 15px;
  }
}
@media screen and (max-width: 600px) {
  div#wrapper {
    width: 400px;
  }
  div.container{
    max-width: 400px;
  }
  ul#topnav li a{
    width: 80px;
    padding: 1px 4px;
  }
  * {
    font-size: 11px;
  }
  ul#topnav li a{
    font-size: 11px;
  }
  ul#topnav li.head a,
  ul#topnav li.head a:hover{
    font-size: 12px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4, h5, h6 {
    font-size: 11px;
  }
  a.btn,
  a.btn:focus {
    font-size: 12px;
  }
  dt {
    font-size: 13px;
  }
  dd {
    font-size: 12px;
  }
}


*{
  margin:0;
  padding-left:0;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #363838;
}

html {
  line-height: 1.5;
}

body{
  background-color: #ffffff;
}

.place{
  height:60px;
  display:none;
}

.container a:link, .container a:visited {
  color: #1e6ea7;
  text-decoration: none;
}

.container a:hover, .container a:active {
  color: #0f3652;
  text-decoration: none;
  outline: none;
}

div#wrapper {
  position: fixed;
  top: 0;
  width: 700px;
  height: 75px;
  text-align: center;
  line-height: 60px;
  background-color: #ffffff;
  border: none;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 9999;
  float: clear;
}

ul#topnav {
  padding: 0px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: 12px auto;
  text-align: left;
}

ul#topnav li {
  display: inline;
  height: 60px;
  float: center;
  margin-top: 5px;
  position: relative;
  line-height: 30px;
  text-transform: initial;
  margin-left: 0px;
  margin-bottom: 0px;
}

ul#topnav li a {
  display: inline-block;
  width: 120px;
  color: #1e6ea7;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 15px;
}

ul#topnav a:hover {
  color: #0f3652;
  border-color: transparent;
  /*border-color: #bebebe;*/
  text-decoration: none;
}

ul#topnav a:active {
  border-color: transparent;
  text-decoration: none;
}

ul#topnav li.head a {
  border-color: transparent;
  font-size: 22px;
}

ul#topnav li.head a:hover {
  font-size: 22px;
  border-color: transparent;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2em;
  color: #313131;
  margin: 0.67em 0;
}

h2 {
  margin-top: 1em;
  font-size: 1.8em;
  color: #313131;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.5em;
  color: #3e3e3e;
}

h4, h5, h6 {
  margin-top: 1em;
  font-size: 1em;
  color: #313131;
}

div.container {
  max-width: 750px;
  margin-bottom: 50px;
  margin: 0 auto;
  padding: 0 2em;
  line-height: 1.6em;
}

strong {
  text-shadow: 1px 1px 0px #fff;
}

ul#work {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0px;
}

ul#work li p {
  padding: 0 0 1em 24px;
  list-style-type: none;
}

ul#work li p.head {
  padding: 0 0 0 0;
  list-style-type: none;
}

/*publication table*/

dt {
  font-weight: normal;
  text-decoration: none;
  padding: 0 0 4 0;
  margin-left: 6px;
}

a.proj:link, a.proj:visited {
  color: #383838;
  text-decoration: none;
}

a.proj:hover, a.proj:active {
  color: #767676;
  text-decoration: none;
  outline: none;
}

dd {
  font-weight: normal;
  padding-left: 28px;
  padding-bottom: 4px;
}

small {
  font-size: 13px;
  margin-left: 10px;
}


/*publication button*/

a.btn:link, a.btn:visited {
  font-size: 13px;
  color: #1e6ea7;
  text-decoration: none;
}

a.btn:hover, a.btn:active {
  font-size: 13px;
  color: #0f3652;
  text-decoration: none;
  outline: none;
}
