@charset 'UTF-8';
* {
  margin: 0;
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #383838;
}

html {
  line-height: 1.5;
}

body {
  background-color: #fafafa;
}

.place {
  height: 60px;
  display: none;
}

.container a:link, .container a:visited {
  color: #268bd2;
  text-decoration: none;
}

.container a:hover, .container a:active {
  color: #1a6193;
  text-decoration: none;
  outline: none;
}

div#wrapper {
  position: fixed;
  top: 0;
  width: 700px;
  height: 75px;
  text-align: center;
  line-height: 60px;
  background-color: #fafafa;
  border: none;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 9999;
  float: clear;
}

ul#topnav {
  padding: 0px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: 12px auto;
  text-align: left;
}

ul#topnav li {
  display: inline;
  height: 60px;
  float: center;
  margin-top: 5px;
  position: relative;
  line-height: 30px;
  text-transform: initial;
  margin-left: 0px;
  margin-bottom: 0px;
}

ul#topnav li a {
  display: inline-block;
  width: 120px;
  color: #268bd2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 15px;
}

ul#topnav a:hover {
  color: #1a6193;
  border-color: transparent;
  /*border-color: #bebebe;*/
  text-decoration: none;
}

ul#topnav a:active {
  border-color: transparent;
  text-decoration: none;
}

ul#topnav li.head a {
  border-color: transparent;
  font-size: 22px;
}

ul#topnav li.head a:hover {
  font-size: 22px;
  border-color: transparent;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2em;
  color: #313131;
  margin: 0.67em 0;
}

h2 {
  margin-top: 1em;
  font-size: 1.8em;
  color: #313131;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.5em;
  color: #3e3e3e;
}

h4, h5, h6 {
  margin-top: 1em;
  font-size: 1em;
  color: #313131;
}

div.container {
  max-width: 750px;
  margin-bottom: 50px;
  margin: 0 auto;
  padding: 0 2em;
  line-height: 1.6em;
}

strong {
  text-shadow: 1px 1px 0px #fff;
}

ul#work {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0px;
}

ul#work li p {
  padding: 0 0 1em 24px;
  list-style-type: none;
}

ul#work li p.head {
  padding: 0 0 0 0;
  list-style-type: none;
}

/*publication table*/

dt {
  font-weight: bold;
  text-decoration: none;
  padding: 0 0 4 0;
  margin-left: 6px;
}

a.proj:link, a.proj:visited {
  color: #383838;
  text-decoration: none;
}

a.proj:hover, a.proj:active {
  color: #767676;
  text-decoration: none;
  outline: none;
}

dd {
  padding-left: 28px;
  padding-bottom: 4px;
}

small {
  font-size: 13px;
  margin-left: 10px;
}


/*publication button*/

a.btn:link, a.btn:visited {
  font-size: 13px;
  color: #268bd2;
  text-decoration: none;
}

a.btn:hover, a.btn:active {
  font-size: 13px;
  color: #1a6193;
  text-decoration: none;
  outline: none;
}
